<div class="container">
    <div id="titre_conn" class="row">
      <div class="col"><h1 class="display-1">Salut ! Bienvenue</h1></div>
      <div class="col-11"></div>
      <div class="col"><h2 class="display-6">Choisissez votre situation</h2></div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <a routerLink="/connexionAdmin"> <!-- Supprimez href="#" -->
          <img src="/assets/images/admin.png" alt="">
        </a>
          <a routerLink="/connexion"> <!-- Supprimez href="#" -->
            <img src="/assets/images/eleve.png" alt="">
          </a>
      </div>
    </div>
  </div>
  