body {
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Fredoka", sans-serif;
}
h1 { font-weight: 700; color: #93D4F9; }
h2 { font-weight: 400; }

#titre_conn { margin-top: 150px; }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex; /* Affichez l'overlay */
    justify-content: center;
    align-items: center;
}



