@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */


/* Ensuite, applique-la */

body {
	background-color: #09090b;
	font-family: "Poppins", sans-serif;

}
p {
    color: #d1d5db;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Glassmorphism fidèle à la maquette */
.glass-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.glass-card:hover {
    background: rgba(255, 255, 255, 0.07);
    border-color: rgba(255, 255, 255, 0.3);
}
.text-gradient {
    background: linear-gradient(to right, #ffffff, #a5a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Animation Défilement Infini */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  /* On force l'animation ici */
  animation: infinite-scroll 20s linear infinite;
  /* On s'assure que la largeur est suffisante */
  width: max-content; 
}

/* Petite pause quand on passe la souris QZDFSfffffffffffdessus (Optionnel) kjlzefd,lm*/
.animate-infinite-scroll:hover {
  animation-play-state: paused;
} 