@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */


/* Ensuite, applique-la */

body {
	background-color: #09090b;
	font-family: "Poppins", sans-serif;

}
p {
    color: #d1d5db;
}



